$color-primary: #20a0ff;
$color-secondary: #8c8c8c;
$color-success: #52c41a;

$base-color1: #008DFF;

$color-gray-tip-words: #8C8C8C;
$color-red-tip-words:  #f44555;
$color-em-blue-gray: #5A86BB;

$font-size-s1: 38px;
$font-size-s2: 30px;
$font-size-s3: 24px;
$font-size-s4: 20px;
$font-size-s5: 18px;
$font-size-s6: 16px;
$font-size-s7: 14px;
$font-size-s8: 12px;

$color-disabled: #BFBFBF;